<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discussion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/foundation/6.0.5/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/app.css"/>
    <script type="application/javascript">
      window.__INITIAL_STATE__ = ${initialState};
    </script>
  </head>
  <body>
    <div id="react-entry">${componentHTML}</div>
    <script type="application/javascript" src="js/discussion.js"></script>
  </body>
</html>
